<div class="collection-template collection-template-default">
  <div class="container">
  	{% render 'breadcrumb' %}
    
    <div class="halo-collection-content">
      <div class="row">
        {% section 'sidebar-filter' %}
        {% section 'collection-template-default' %}
      </div>
      
      
    </div>   
  </div>
</div>
<div class="recently-content-sections">
  <div class="container">
    {% section 'recently-viewed-products' %}
  </div>
</div>